.window-list-box {
    spacing: 3px;
    padding-left: 10px;
    padding-top: 1px;   
}

.window-list-item-box {
     background-gradient-direction: vertical;
	 background-gradient-start: rgba(226,226,226,0.5);
	 background-gradient-end: rgba(182,182,182,0.5);
	 box-shadow: inset 0px 0px 1px 1px rgba(170,170,170,1.0);
     border-radius: 2px;
}

.window-list-item-box:active,
.window-list-item-box:checked,
.window-list-item-box:focus  {     
	 background-gradient-direction: vertical;
	 background-gradient-start: rgba(226,226,226,1.0);
	 background-gradient-end: rgba(182,182,182,1.0);
	 box-shadow: inset 0px 0px 1px 1px rgba(170,170,170,1.0);
     border-radius: 2px;
}

.window-list-item-box:hover  {
     
	 box-shadow: inset 0px 0px 1px 1px rgba(170,170,170,1.0);
     border-radius: 2px;
}

.window-list-item-label {
    font-weight: bold;
    width: 15em;
    min-width: 5px;
}

.window-list-item-box-bottom {
     color: rgba(255,255,255,1.0);
	 background-gradient-direction: vertical;
	 background-gradient-start: rgba(255,255,255,0.05);
	 background-gradient-end: rgba(255,255,255,0.2);
	 box-shadow: inset 0px 0px 1px 1px rgba(170,170,170,0.5);
     border-radius: 2px 2px 0px 0px;
}

.window-list-item-box-bottom:active,
.window-list-item-box-bottom:checked,
.window-list-item-box-bottom:focus  {     
	 background-gradient-direction: vertical;
	 background-gradient-start: rgba(226,226,226,0.5);
	 background-gradient-end: rgba(122,122,122,0.5);
	 box-shadow: inset 0px 0px 1px 1px rgba(170,170,170,0.5);
     border-radius: 2px 2px 0px 0px;
}

.window-list-item-box-bottom:hover  {
     
	 box-shadow: inset 0px 0px 1px 1px rgba(170,170,170,1.0);
     border-radius: 2px 2px 0px 0px;
}

